body{
    background-color:  #252525;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-attachment: fixed;
    
  }
  .App {
    text-align: center;
    width: 100%;
    max-width: 540px;
    background: transparent;
    margin: 50px auto;
    padding: 30px 20px 70px;
    border-radius: 20px;  
    background: transparent;
    
  }
  .main{
    display: flex;
    flex-direction: column;
    align-items: top;
    
    
  }
  .main h2{
    color: #edeef0;
  }
  .main img{
    width: 40px;
    margin-left: 10px;
  }
  button{
    text-align: center;
  }
  .addTask{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #28282B;
      padding-left: 10px;
      border-radius: 15px;
      margin: 10px;
      
  }
  .addTask input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 18px;
    color: aliceblue;
    width: 75%;
  }
  .addTask button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 15px;
    background: #002D62;
    color: white;
    padding: 16px 30px;
    cursor: pointer;
    font-size: 20px;
    width: 20%;
  }
  .addTask button:hover{
    background: #007FFF;
  }
  .taskList{
    color: #cdcdcd;
    border: 2px solid #3d3d3d;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
  }
  .taskList button{
    background: transparent;
    border: none;
    border-radius: 5px;
    
  }
  
  .taskList img{
    height: 25px;
    width: 25px;
    border-radius: 30%;
    padding: 8px;
    
  }
  
  .deletebtn:hover{
    background: #B22222;
    cursor: pointer;
  } 
  .editIcon:hover{
    background-color: #002244;
    cursor: pointer;
  }
  .emptyList{
    
    color: #cdcdcd;
    
  }
  .emptyList img{
    width: 221px;
    height: 174px;
  }
  .doneTask{
    text-decoration: line-through;
    opacity: 0.3;
  }
  .done{
    background-color: #354a21;
  }
  @media screen and (max-width: 365px) {
    .App{
        width: fit-content;
        max-width: 320px;
        padding-top: 0px;

    }
    .main{
        width: fit-content;
        max-width: 320px;
    }
    .addTask button{
        padding-left: 16px 20px;
        width: 30%;
    }
    .taskList{
        padding: 8px 15px;
    }
    .taskList img{
        padding: 5px;
    }
    .taskList button{
        padding: 0px;
    }
  }